<html>
	<head>
		<meta charset="UTF-8" />
		<title>arachnistream</title>
		<style type="text/css">
table
{
	border-collapse: collapse;
}
td
{
	border-style: solid;
	border-width: 1px;
	padding: 4px;
}
		</style>
	</head>
	<body>
		<form method="get" action="/search">
			<input type="text" name="title" value="{{search}}" />
			<input type="submit" value="Search" />
		</form>
		<table>
		{{#stream}}
			<tr>
				<td>{{language}}</td>
				<td><a href="http://127.0.0.1:8080/{{path}}" target="_blank" title="{{title}}">{{name}}</a></td>
				<td>{{content}}</td>
				<td><span title="{{tags}}">tags</span></td>
				<td>delay: {{reliability}}</td>
			</tr>
		{{/stream}}
		</table>
	</body>
</html>
